header{ 
    background-color: whitesmoke;/*cor de fundo do cabeçario*/
     color: skyblue;/*cor da fonte*/
      text-align-last: center;
       max-width: 800;
        margin: 0 auto;/*configura margens*/
        padding: 16px;
        border: 5px solid pin;

     } main{ background-color: lightpink; 
        color: lightgray; 
        text-align: center; /*alinha o texto ao centro*/ 
        max-width: 800px;/*largura maxima margin: 0 auto;/*configura margens*/ 
        margin: 0 auto;/*espaçamento esterno ao redor elemento*/
        
    } 
        
        footer{ background-color: rgb(100, 96, 96); 
            color: #6b558f; }